/* Estilo personalizado del menú */
nav {
    background-color: #CB6040;
    z-index: 1200; /* Asegúrate de que el menú esté por encima de otros elementos */
    position: sticky; /* Posiciona el menú de forma fija en la parte superior */
    top: 0; /* Fija el menú justo en el borde superior */
}
.nav-link {
    color: #F2E5BF;
}
.nav-link:hover {
    color: #F2E5BF; /* Color en hover */
    font-weight: bold; /* Resalta el texto en hover */
}
.nav-item {
    margin-right: 15px; /* Ajusta el valor según el espacio que desees */
}



/* Estilo del carrusel */
.carousel-type .carousel-inner img {
    display: block;
    margin: auto;
    width: 100px;  /* Para que no estire la imagen */
    height: 200px; /* Ajusta la altura a tus necesidades */
    object-fit: none; /* Para mantener las proporciones de la imagen */
}
.carousel-type {
    max-width: 96.9%;
    max-height: 100%;
     /* Evita que la imagen se deforme */
     object-fit: none; /* Para mantener las proporciones de la imagen */
}

@media (max-width: 400px) {
    .carousel-type .carousel-inner img {
        width: 100%;        /* Aumenta el ancho para que sea más grande en móviles */
        height: 300%;      /* Mantiene la proporción automática */
        object-fit: contain; /* Asegura que la imagen se ajuste sin recortarse */
        margin: 0 auto;    /* Centra la imagen en su contenedor */
    }

    .carousel-type {
        max-width: 100%;   /* Asegura que el contenedor ocupe todo el ancho de la pantalla */
        max-height: 100%;  /* Permite que el contenedor ocupe toda la altura disponible */
       
    }
}

.carousel-item img {
    max-height: 200px;
    object-fit: cover;
    max-width: 100%; /* Asegúrate de que no exceda el ancho del contenedor */
    height: auto;    /* Mantiene la proporción de la imagen */
    
}

@media (max-width: 768px) {
    .carousel-item img {
        width: 80%; /* Aumenta el ancho al 80% */
        height: 200px; /* Aumenta la altura para que la imagen sea más grande */
        object-fit: contain; /* Asegura que la imagen se ajuste sin recortes */
        margin: 0 auto; /* Centra la imagen horizontalmente */
    }
}

/* para el carrusel de la imagenes*/

.carousel-inner-card img {
    display: block;
    margin: auto;
    width: 100px;  /* Para que no estire la imagen */
    height: 200px; /* Ajusta la altura a tus necesidades */
    object-fit: none; /* Para mantener las proporciones de la imagen */
}
.carousel-item-card img {
    max-height: 200px;
    object-fit: cover;
    max-width: 100%; /* Asegúrate de que no exceda el ancho del contenedor */
    height: auto;    /* Mantiene la proporción de la imagen */
    
}

@media (max-width: 768px) {
    .carousel-item-card img {
        width: 50%; /* Ocupa el 100% del ancho */
        height: 100px; /* Ajusta la altura deseada para móviles */
        object-fit: contain; /* Ajusta la imagen para que se ajuste sin recortes */
    }
}

/* fin el carrusel de la imagenes*/

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: black; /* Color negro para las flechas */
    position: relative;
    transition: transform 0.1s ease;
}   

.text-option-footer{
    color: #F2E5BF; 
    font-family: 'Lato', sans-serif;
    font-size: 18px;
}
.text-option-footer:hover {
    color: #F2E5BF; /* Color en hover */
    font-weight: bold; /* Resalta el texto en hover */
}

.text-inline {
    display: inline;
    color: #000000;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    text-align: left; /* Cambia a left para evitar que el texto se divida */
    white-space: nowrap; /* Previene que el texto se divida en varias líneas */
}


input::placeholder {
    font-size: 16px; /* Tamaño de fuente menor para el placeholder */
    color: #999999;  /* Puedes cambiar el color si lo deseas */
}

.text-inline1 {
    color: #000000;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    text-align: justify; /* Justifica el texto */
    margin-bottom: 10px; /* Ajusta este valor según el espacio que desees */
}

.text-inline2 {
    color: #000000;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    text-align: justify;
    margin-bottom: 15px;
    width: 100%; /* Asegúrate de que el ancho sea 100% */
    overflow-wrap: break-word; /* Asegúrate de que el texto se ajuste correctamente */
    display: flex; /* Usar Flexbox */
    align-items: center; /* Centrar verticalmente */    
}

.form-container {
  max-width: 500px;
  margin: 0 auto;
  margin-top: 20px; /* Ajusta este valor según el espacio que desees */
}

.form-group {
    display: flex;
    flex-direction: column; /* Cambiado a columna para que el contador no interfiera */
    margin-bottom: 10px; /* Añade espacio entre cada grupo de formulario */
}


label {
    width: 200px;
    margin-bottom: 5px; /* Añadir un poco de espacio entre la etiqueta y el campo */
    font-weight: bold; /* Asegura que el texto del label sea más legible */
}

input, textarea {
    padding: 8px; /* Añadir padding para un mejor aspecto visual */
    border: 1px solid #ccc; /* Añadir borde */
    border-radius: 4px; /* Añadir bordes redondeados */
}

textarea {
    height: 100px;
    width: 100%; /* Asegura que el textarea ocupe todo el ancho disponible */
    padding: 8px; /* Espaciado dentro del textarea */
    resize: vertical; /* Permite que el usuario cambie la altura */
    margin-top: 0; /* Elimina cualquier margen superior adicional */
}

small {
    margin-top: 5px;
    color: #777;
    font-size: 0.9em;
}

.whatsapp-group {
    display: flex;
    white-space: nowrap; /* Evita que el texto salte de línea */
    margin-top: 10px;
    margin-bottom: 10px;
}

.whatsapp-group input[type="checkbox"] {
    margin-right: 10px; /* Espacio entre el checkbox y la etiqueta */
}

.card-img-section {
    background-color: white; /* Fondo plomo (gris) */
    border: 2px solid #ddd; /* Borde gris claro */
    border-top: none; /* Sin borde superior para que se fusione con la sección de texto */
    padding: 10px;
}

.card-text-section {
    background-color: white; /* Fondo blanco para el texto */
    border: 2px solid #ddd; /* Borde gris claro */
    border-top: none; /* Sin borde superior para que se fusione con la sección de texto */
    padding: 10px;
}

.product-image {
    width: 80px; /* Especifica el ancho deseado */
    object-fit: cover;
    height: auto; /* Mantiene la proporción de la imagen */
}

.card-footer {
    border: 2px solid #ddd; /* Borde gris claro */
    border-top: none; /* Sin borde superior para que se fusione con la sección de texto */
    padding: 10px;
}

.text-justify {
    text-align: justify;
}

button {
    padding: 10px 20px;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    background-color:#CB6040; /* Color de fondo */
    color: #F2E5BF; /* Color del texto */
    border: #257180; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cursor de mano */
}

button:hover {
    background-color: #FD8B51; /* Nuevo color de fondo al hacer hover */
    color: #257180; /* Color del texto más oscuro al hacer hover */
    transform: scale(1.05); /* Aumentar ligeramente el tamaño */
}

.btn-order {
    padding: 10px 20px;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    background-color:#257180; /* Color de fondo */
    color: #F2E5BF; /* Color del texto */
    border: #257180; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cursor de mano */
}
/* Media query para dispositivos móviles */
@media (max-width: 768px) {
    .btn-order {
        font-family: 'Lato', sans-serif;
        padding: 8px 15px; /* Ajusta el padding */
        font-size: 14px; /* Ajusta el tamaño de la fuente */
        width: 100%; /* Opcional: hace que el botón ocupe todo el ancho del contenedor */
    }
}

.btn-order:hover {
    background-color: #FD8B51; /* Nuevo color de fondo al hacer hover */
    color: #257180; /* Color del texto más oscuro al hacer hover */
    transform: scale(1.05); /* Aumentar ligeramente el tamaño */
}

.bordered-image {
    border: 2px solid #ddd; /* Borde de color plomo */
    border-radius: 5px;        /* Bordes ligeramente redondeados */
    padding: 5px;              /* Espacio entre la imagen y el borde */
    width: 600px;    /* Anchura fija */
    height: 400px;   /* Altura fija */
    object-fit: cover; /* Ajusta la imagen dentro del contenedor sin deformarla */
}

.social-icons img {
    width: 30px;  /* Ancho deseado */
    height: 30px; /* Altura deseada */
    margin-top: 5px; /* Espaciado superior opcional */
    transition: transform 0.3s; /* Transición para un efecto de hover */
}
.social-icons img:hover {
    transform: scale(1.1); /* Efecto de hover para aumentar el tamaño del icono */
}

#order-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    background-color: #257180;
    color: #F2E5BF;
    padding: 10px 20px;
    border: none;
    border-radius: 50px; /* Bordes redondeados */
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    cursor: pointer;
    opacity: 0; /* Comienza invisible */
    transform: translateY(50px); /* Comienza fuera de la pantalla */
    transform: scale(1.05); /* Aumentar ligeramente el tamaño */
    transition: opacity 0.3s, transform 0.3s;
}
#order-button:hover {
    background-color: #FD8B51; /* Nuevo color de fondo al hacer hover */
    color: #257180; /* Color del texto más oscuro al hacer hover */
    transform: scale(1.05); /* Aumentar ligeramente el tamaño */
}

#order-button.visible {
    opacity: 1; /* Aparece */
    transform: translateY(0); /* Se posiciona correctamente */
}
#order-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

#clean-order-button {
    position: fixed;
    bottom: 80px; /* Ajuste para que esté justo arriba del botón "Order" */
    right: 20px; /* Mismo valor de 'right' para alinearlo con el botón "Order" */
    z-index: 1000;
    background-color: #257180; /* Color rojo para diferenciarlo del botón "Order" */
    color: #F2E5BF;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    cursor: pointer;
    opacity: 0; /* Comienza invisible */
    transform: translateY(50px); /* Comienza fuera de la pantalla */
    transform: scale(1.05); /* Aumentar ligeramente el tamaño */
    transition: opacity 0.3s, transform 0.3s;
}
#clean-order-button:hover {
    background-color: #dc3541; /* Nuevo color de fondo al hacer hover */
    color: white; /* Color del texto más oscuro al hacer hover */
    transform: scale(1.05); /* Aumentar ligeramente el tamaño */
}
#clean-order-button.visible {
    opacity: 1; /* Aparece */
    transform: translateY(0); /* Se posiciona correctamente */
}
#clean-order-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.product-images img {
    width: 100%; /* Ajusta el ancho según sea necesario */
    max-width: 150px; /* Limita el ancho máximo */
    height: auto; /* Mantiene la proporción de la imagen */
    object-fit: cover; /* Asegura que la imagen llene el contenedor sin distorsionarse */
    border-radius: 5px; /* Bordes redondeados */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

.bordered-image {
    max-width: 100%; /* Asegura que la imagen no exceda el tamaño del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
    border: 2px solid #cccccc; /* Borde plomo */
    border-radius: 8px; /* Bordes ligeramente redondeados */
}

@media (max-width: 768px) {
    #product-image {
        width: 100%; /* La imagen ocupará el 100% del ancho del contenedor en dispositivos móviles */
        height: auto; /* Mantener proporción */
    }

    /* Opcionalmente, ajustar los márgenes o el tamaño del contenedor de la imagen */
    .container {
        padding-left: 15px;
        padding-right: 15px;
    }
}

.imagen-cabecera img {
    display: block;
    margin: auto;
    width: 100px;  /* Para que no estire la imagen */
    height: 200px; /* Ajusta la altura a tus necesidades */
    object-fit: none; /* Para mantener las proporciones de la imagen */
}
        
@media (max-width: 768px) {
    .imagen-cabecera img {
        width: 80%; /* Ocupa el 100% del ancho */
        height: auto; /* Ajusta la altura deseada para móviles */
        object-fit: contain; /* Ajusta la imagen para que se ajuste sin recortes */
        margin: 0 auto; /* Centra la imagen horizontalmente */
    }
}

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

h1 {
    font-family: 'Abril Fatface';
    color: black;
    font-weight: bold; /* Asegura que el texto esté en negrita */
    font-size: 30px;
}

h2 {
    font-family: 'Abril Fatface';
    color: black;
    font-weight: bold; /* Asegura que el texto esté en negrita */
    font-size: 30px;
}

h4 {
    font-family: 'Lato', sans-serif;
    color: black;
    font-weight: bold; /* Asegura que el texto esté en negrita */
    font-size: 20px;
}

.text-uppercase {
    text-transform: uppercase; /* Convierte el texto a mayúsculas */
    color: #F2E5BF; /* Cambia el color del texto a blanco */
    font-family: 'Lato', sans-serif; /* Establece la fuente (opcional) */
    font-size: 18px; /* Establece el tamaño de la fuente (opcional) */
}

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap');
p {
    font-family: 'Lato', sans-serif;
    color: black;
    font-size: 18px;
    text-align: justify;
    margin-bottom: 15px;
    width: 100%; /* Asegúrate de que el ancho sea 100% */
    overflow-wrap: break-word; /* Asegúrate de que el texto se ajuste correctamente */
    display: flex; /* Usar Flexbox */
    align-items: center; /* Centrar verticalmente */
}

li {
    font-family: 'Lato', sans-serif;
    color: black;
    font-size: 18px;
    text-align: justify;
 }


.th-style{
    text-align: center;
    color: #000000;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

#product-description {
    text-align: justify;
}

.td-style{
    text-align: right;
    color: #000000;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

/* Ajustes para dispositivos móviles */
@media (max-width: 400px) {
    .th-style, .td-style {
        text-align: center; /* Centra el texto en pantallas pequeñas */
        font-size: 10px; /* Reduce ligeramente el tamaño de la fuente */
    }

    .row {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: scroll; /* Activa el desplazamiento horizontal */
        overflow-y: hidden; /* Evita un scrollbar vertical innecesario */
        scrollbar-width: thin; /* Para navegadores modernos (Firefox, etc.) */
        scrollbar-color: #FD8B51 #f1f1f1; /* Colores personalizados */
    }

    .row::-webkit-scrollbar {
        height: 8px; /* Altura de la barra en navegadores basados en WebKit */
        display: block; /* Fuerza a que el scrollbar sea visible */
    }

    .row::-webkit-scrollbar-thumb {
        background: #FD8B51; /* Color del scrollbar */
        border-radius: 4px; /* Bordes redondeados */
    }

    .row::-webkit-scrollbar-track {
        background: #f1f1f1; /* Fondo de la pista del scrollbar */
    }

    .row:hover {
        scrollbar-color: #555 #e0e0e0; /* Resalta el scrollbar al interactuar */
    }
    
}

#more-info, #more-info2 {
    display: none;
    transition: all 0.3s ease-in-out;
}